[Unit]
Description=Set limits for automatic fan control

[Service]
ExecStart=/usr/bin/fanctl -m 1 -s 1,51,71,91 -l 75,83,90

[Install]
WantedBy=default.target
